[2017-02-23 07:12] brunogrande opened #1 "Decide on venue and date"

[2017-02-23 07:12] brunogrande opened #2 "Schedule next meeting"
Update title once date and time is settled.

[2017-02-23 07:12] brunogrande opened #3 "Assign roles"

[2017-02-23 07:21] brunogrande opened #4 "Recruit additional members for steering committee"

[2017-02-25 00:47] jakelever commented on #3
It'd probably be a good idea to restate what we said at the meeting about which roles we'd be willing to do.

I'd be willing to work with Dan on some of the logistics (e.g. venue / fundraising). And I'd also be happy to take on the role of secretary to make sure we have meetings with agendas and minutes.

[2017-02-25 00:50] jakelever commented on #2
Hey all, I plan to schedule the next meeting soon. I would propose to meet again at the GSC at 6pm after work. Before I set up the Doodle, are there any other suggestions for venue/time? i.e. meeting at UBC or later in the evening or on the weekend.

[2017-02-25 21:11] adrisua commented on #1
@hackseq/steering_committee Here is the contact info for ECOSCOPE's program coordinator:
Mandeep Nahal <mandeep.nahal@ubc.ca> 604 827 4216
The best would be to ask her (preferably from a ubc email account) if they would like to support hackseq once more (in-kind donation). If they say yes, you could then send her a set of dates to check the availability of the Atriums at LSI :)

[2017-02-26 19:20] dfornika commented on #4
I've contacted Lauren Chong (Steidl Lab) to ask her about getting involved. She said she'd follow up with @jasgrewal this weekend.

[2017-02-26 19:38] dfornika commented on #3
These are the roles that I've got from my notes from the last meeting (may not be completely accurate, speak up if I misunderstood):

Laura (@lfunderburk): Website & Graphic Design
Dan (@dfornika): Fundraising & Budgeting
Jasleen (@jasgrewal): Venue, Website & Technical Support
Jake (@jakelever): Logistics & Fundraising
Arjun (@abaghela): Social Media & Recruitment, Venue Booking, Setup, Food
Laur

[2017-02-26 19:41] dfornika commented on #2
Slightly later (6:30) would work better for me, just to give me a bit more travel time to get out from SFU if I'm stuck at work a bit past 5.

[2017-02-26 20:11] dfornika commented on #3
@jakelever I've typed up my notes from the last meeting and dropped them in this repo. Feel free to edit them and move them somewhere else.

[2017-02-27 17:52] jasgrewal commented on #2
I'm good with 6/6:30 PM onwards at the GSC. As per availability, this week is a bit tight (I can make it Tuesday at 6:30, or a bit earlier on Friday), and next week anytime besides the 8th/9th or March.

[2017-02-27 17:52] jasgrewal commented on #3
@dfornika Awesomesauce, thanks for sharing that! Sounds good to me :)

[2017-02-27 17:56] Phillip-a-richmond commented on #3
I'll work on Recruitment and Technical support.  My involvement in ARC and collaborations with WestGrid and ComputeCanada should be a help with both of those roles.  I can also help when it comes to doing food runs on the day of the event.

[2017-02-27 17:58] Phillip-a-richmond commented on #2
My availability opens way up starting March 10th, and evenings at GSC is good for me.

[2017-02-27 17:59] abaghela commented on #3
Hey, this looks good to me too. I can also help with venue booking/set-up/food, but social media and recruitment is great. Thanks!

[2017-02-27 18:01] Phillip-a-richmond commented on #1
I'm thinking that LSI is ideal, and date-wise I think if we focus on some time in the Fall again that would be the best.  It would give us enough time and ensure that lots of people are around (since Summer often has a lot of traveling involved).

Also agree that doing a Friday-Saturday-Sunday is a good 3 day period, with a soft-start on Thursday.

[2017-02-27 21:10] lfunderburk commented on #3
Yay! Go Team!

[2017-02-28 20:12] jakelever commented on #2
Hey all, here is a Doodle for the next meeting: http://doodle.com/poll/yhccgc25rm2zp48b

The plan would be 6:30pm at the GSC. I've put the dates a couple weeks a way as it sounds like a few people are rather busy at the moment.

[2017-03-01 23:00] dfornika commented on #1
Can I just poke this issue a bit? Has someone taken on the task of contacting ECOSCOPE?

[2017-03-02 17:52] jasgrewal commented on #1
I can reach out to ECOSCOPE, but I was hoping to meet and determine an ideal range of dates that I can inquire about specifically first?

[2017-03-02 21:18] jakelever commented on #2
Hey, could @abaghela and @lfunderburk fill out the Doodle when you get the chance?

[2017-03-03 18:33] lfunderburk commented on #1
I agree to focus on sometime in the Fall term. Sometime October perhaps?

We would be looking at:

- Friday 13th - Sunday 15th
- Friday 20th - Sunday 22nd
- Friday 27th - Sunday 30th

There is a long weekend from Saturday 7th to Monday 9th but I am worried people might have long weekend plans - hence I suggested the above dates.

[2017-03-04 19:42] adrisua commented on #1
FYI I will be away from March 20th to April 10th. If you have questions or need information please let me know before then.

[2017-03-06 20:28] jakelever commented on #2
It looks like everyone can make March 14th. So we'll meet at the GSC at 6:30pm next Tuesday in the Smith Room (by reception).

[2017-03-06 22:47] Phillip-a-richmond opened #5 "Withdrawing from Hackseq organizing committee"
Hello all,
After some thinking and looking at my upcoming schedule for the next 9 months I have come to the realization that I can't fully commit to being a Hackseq organizer this year.  I have too many other things going on (including my comps at the end of the summer when Hackseq will be more demanding) and I feel that adding this Hackseq commitment will spread me too thin.  I'd rather back out

[2017-03-08 05:09] brunogrande opened #6 "Introducing Vienna Chichi Lam"
I just wanted to introduce Vienna Chichi Lam (@viennalam) to everyone. She has expressed interest in helping out with Hackseq. She will be busy with field work and a thesis defence over the coming months, but she said she would become available around June 15th. Be sure to loop her in around that time. Cheers!

[2017-03-08 17:58] jakelever commented on #6
Hi @viennalam, in case you're free, we're having a meeting on Tuesday at 6:30pm at the Genome Sciences Centre (570 W 7th Ave). The agenda and minutes will be online but it'd be cool if you could come or skype into the meeting.

[2017-03-08 17:58] #2 closed

[2017-03-08 17:59] jakelever opened #7 "Agenda for March 14th meeting"
Hey, we should start putting together an agenda of what to discuss on the March 14th meeting. It's at 6:30pm at the GSC (570 W 7th Ave). Please add ideas of topics here.

[2017-03-08 18:45] Brittdrog commented on #3
For whoever takes on the Team Leader recruitment role, here are some [email drafts](https://drive.google.com/drive/folders/0B4gAe5f4VChNOExqYzk5Z1dndjQ) and [application forms](https://github.com/hackseq/October_2016/blob/master/Forms.md) from hackseq16, which may be of use

[2017-03-09 08:30] viennalam commented on #6
Hello Jake,

I finish teaching at 6:30. If it's okay for me to come in late, I'd love to join in through Skype. Is there a list of everyone's Skype address? It would be great if you could just add me to the conversation (vienna.lam@outlook.com).

Kind regards,
Vienna

From: "Jake Lever" <notifications@github.com>
To: "hackseq/hackseq_2017" <hackseq_2017@noreply.github.com>
Cc: "viennalam" <vienna@

[2017-03-10 23:16] jasgrewal commented on #1
Sent out an email today to Mandeep, will update whenever she replies.

[2017-03-10 23:21] jasgrewal opened #8 "Website management"
Tab to oversee transition of webmaster duties, and centralize tasks for the Webmaster (link to subtasks).

[2017-03-10 23:24] jasgrewal commented on #7
- Allocate roles and responsibilities
- Perhaps do another round of emails to UBC/SFU genomics related programs to get more volunteers?
- Determine currently available computational resources and enumerate specific compute power requirements.
- Update regarding being able to use LSI space.
- Identify fundraising sources
- Have a github manager to look after setup of the public facing side of HackS

[2017-03-11 00:51] #8 closed

[2017-03-11 01:27] jakelever commented on #6
Hi Vienna, that's great! I'll bring my laptop along to the meeting and set up Skype.

[2017-03-11 01:33] viennalam commented on #6
Great, thanks!

From: "Jake Lever" <notifications@github.com>
To: "hackseq/hackseq_2017" <hackseq_2017@noreply.github.com>
Cc: "viennalam" <vienna@chisquared.ca>, "Mention" <mention@noreply.github.com>
Sent: Friday, 10 March, 2017 17:27:44
Subject: Re: [hackseq/hackseq_2017] Introducing Vienna Chichi Lam (#6)

Hi Vienna, that's great! I'll bring my laptop along to the meeting and set up Skype.

—

[2017-03-11 01:43] jakelever commented on #7
- Decide on goals for scale (e.g. ideal number of teams/participants, do we target Victoria/Seattle researchers too?)
- Plan ideas to improve diversity in participants and team-leads (or assign as task)

[2017-03-15 06:02] jasgrewal opened #9 "Confirm LSI availability"
Considering weeks Oct 13-15 or Oct 20-22 (inclusive). Definitely not considering the 30th of October and neighbouring weekends on account of Halloween.
There will be one official social, the day before (Thursday evening) or last day (Sunday night) at Gallery 2.0, ~100 people, pending availability and confirmation by @jasgrewal

[2017-03-15 06:04] jasgrewal commented on #1
Moved to https://github.com/hackseq/hackseq_2017/issues/9

[2017-03-15 06:04] #1 closed

[2017-03-15 23:57] #7 closed

[2017-03-16 04:26] #5 closed

[2017-03-16 05:00] jakelever opened #10 "Schedule Next Meeting"
Hey, as discussed in the meeting yesterday, we should have another meeting with ideas about our roles. Here's the Doodle: http://doodle.com/poll/fzwa4nx8eabs634t

The plan would be 6:30pm again at the Genome Sciences Centre (Smith Room). If another time or location is preferable, add a comment and we can figure it out.

[2017-03-16 20:07] viennalam commented on #3
Hello,

Should I just be a floater until the summer? I'm definitely happy to help do the setup and be there to help during the event.

Kind regards,
Vienna

From: "Dan Fornika" <notifications@github.com>
To: "hackseq/hackseq_2017" <hackseq_2017@noreply.github.com>
Cc: "viennalam" <vienna@chisquared.ca>, "Mention" <mention@noreply.github.com>
Sent: Thursday, 16 March, 2017 11:26:47
Subject: Re: [ha

[2017-03-25 01:39] jakelever commented on #3
Hey Vienna, from the last meeting I think you said you'd be up for helping with team leader recruitment with Celia ( @csiu ). Is that right?

[2017-03-25 01:41] jakelever commented on #10
Hey, paging @viennalam , @csiu and @lfunderburk . Could you guys fill in the Doodle?

Vienna, do you want to Skype in again?

[2017-03-27 04:05] lfunderburk commented on #10
Hello all!

I depart to Germany on April 2. I can do meetings either really late at night - 9pm or 10 pm - or really early - 6 am , 7 am or 8 am-  (Vancouver time ).

I am under the impression this would not work with the current schedule. Can we figure out a way so that I can be posted and also chip in where it is needed?

[2017-03-27 19:44] viennalam commented on #3
Hello Jake,

I don't recall, but yes, I am happy to help in Fall. If the team needs someone that is available throughout the coordination and planning process of this event, I should probably excuse myself right now because I don't want to drop-the-ball. I am happy to help out during the actual event as well as a volunteer.

Also, I looked at the doodle calendar, and unfortunately will be in the f

[2017-03-29 17:59] jakelever commented on #10
Hey all, looks like the next meeting will be April 11th. Sorry to those that can't make it. Let us know if you'd like to Skype in.

@lfunderburk , have a great time in Germany! We could move the meeting to a late evening meeting (i.e. around 9pm). What do people think?

[2017-03-29 18:20] jasgrewal commented on #10
Fine by me, I don't have any plans that night so 9 PM works too.

[2017-03-29 23:25] csiu commented on #10
9 PM is kind of late :(

[2017-03-29 23:29] jasgrewal commented on #9
**East Atrium booking** _Awaiting Confirmation from LSI_

**Smaller room bookings** _Confirmed by ECOSCOPE_
Oct 20 - 1330 - 10am-2pm - _Boardroom style meeting room_
Oct 20 - LSC3 - _Only available after 1:30 PM, don't know if we need it then anyways_
Oct 21 - 1410 - 10am-2pm - _Classroom style meeting room_
Oct 21 - LSC 3 - 10am-2pm
Oct 22 - 1410 - 10am-2pm
Oct 22 - LSC 3 - 10am-5pm - _Theatre st

[2017-04-01 00:54] jakelever commented on #10
Hey, for the meeting time, I think we should maybe keep it at 6:30pm for now. Sorry @lfunderburk . I posted the [minutes from the last meeting](/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-03-14_committee_minutes.md). And will of course post the next ones.

We agreed our roles more formally in the last meeting and agreed to go away and come up with a plan for our role. Are y

[2017-04-04 21:02] sjackman opened #11 "Compute resources"
Lauren wrote…

Hi Shaun!

I'm starting to look into computational requirements for this year's HackSeq and Jasleen told me you took the lead on this last year.

I was hoping to get any feedback you have in terms of what you had set up last year (I understand you used a GSC-based cluster), what the requirements were like, what was good/bad about it, and if you have any other advice. Jasleen also to

[2017-04-04 21:02] sjackman commented on #11
Hi, Lauren. This'll be a quick response. I'll write you a more detailed response tomorrow. Coffee or lunch would be great. Read or skim this GitHub issue: https://github.com/hackseq/October_2016/issues/6

[2017-04-04 21:03] sjackman commented on #11
Hi, Lauren. We used Amazon AWS EC2 and the BCGSC Docker service called ORCA. ORCA had the lowest barrier to entry, just ssh in, and it's ready to go with a bunch of preinstalled bioinformatics software. The system got overloaded last year due to improper load balancing. Hopefully that's better this year, but it's still going to be a shared system, so there's potential for one group to take the mac

[2017-04-04 21:04] sjackman commented on #11
Apply for AWS credits through https://aws.amazon.com/research-credits/
Our application from last year can be found at
https://github.com/hackseq/October_2016/issues/6#issuecomment-229832732
http://calculator.s3.amazonaws.com/index.html#r=PDX&s=EC2&key=calc-98B78ADC-E35B-45D2-B120-B953469DF96C

[2017-04-07 01:20] #6 closed

[2017-04-07 01:22] jakelever commented on #3
A few thoughts on roles that need filling or more people:
- Team leader recruitment (it sounds like @viennalam won't be able to help with this as this needs to start now. So @csiu might need someone else to help with this)
- Watching the Gmail account
- Managing the budget and dealing with expenses (do we have someone for that at the moment?)

[2017-04-07 18:37] jakelever opened #12 "Agenda for April 11th Meeting"
Hey, the next meeting is scheduled for Tuesday, April 11th at 6:30pm in the Smith Room at the Genome Sciences Centre. This issue is to create an agenda for the next meeting.

[2017-04-07 18:38] #10 closed

[2017-04-07 19:50] jasgrewal commented on #12
I'll be giving an update on the LSI bookings and security booking requirements.

[2017-04-11 03:34] dfornika commented on #4
I've contacted Vanessa Guerra (Hart Lab, SFU + SFU Omics Group + SFU Scientific Computing Study Group) to invite her to get involved.

[2017-04-11 17:00] lchong commented on #12
I'll update on computational requirements and possible solutions.

[2017-04-11 17:42] lchong commented on #11
Hey Shaun, thanks for all the help so far.

I forgot to ask you, who would be the primary contact at GSC to discuss ORCA usage?

[2017-04-11 20:15] sjackman commented on #11
No worries at all. The web page for ORCA is http://www.bcgsc.ca/services/orca
I've sent you more contact info by e-mail.

[2017-04-12 00:22] jakelever commented on #12
One of Dan or I will give an update on the fundraising planning.

[2017-04-12 00:24] csiu commented on #12
I'll give an update on leader recruitment
- process last year
- discussion what we should do this year

[2017-04-12 00:35] jakelever commented on #12
Also we should discuss a few roles that may should be filled: (taken from #3)

- Team leader recruitment (it sounds like @viennalam won't be able to help with this as this needs to start now. So @csiu might need someone else to help with this)
- Watching the Gmail account
- Managing the budget and dealing with expenses (do we have someone for that at the moment?)

[2017-04-12 23:07] jakelever commented on #12
Added the [minutes from this meeting](https://github.com/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-04-11_committee_minutes.md)

[2017-04-12 23:07] #12 closed

[2017-04-13 00:37] jakelever opened #13 "Update the "Who We Are" page"
Hey, we should update the Who We Are page (http://www.hackseq.com/who-we-are/). Maybe put up our photos and keep the names of hackseq 2016 people?

I guess everyone should send photos, a few words and a URL to @jasgrewal . Is that alright?

[2017-04-13 06:03] lfunderburk commented on #13
Please send photos and I will be happy to add them to the website.

[2017-04-13 06:05] lfunderburk commented on #13
I think also adding an intro would help. Sorry everyone for being disconnected lately. I have been adjusting to change, sorting out bureaucracy and fighting jet-lag. I am back on track and will be happy to lend a hand where is help is needed. I need clarification regarding web/graphic design designation. Last time I volunteered but because I have not been attending the meeting and have been out of

[2017-04-13 06:39] jakelever commented on #13
@lfunderburk glad to hear that you're settling into life in Germany. Meeting minutes can be found at: https://github.com/hackseq/hackseq_2017/tree/master/organization/meeting_minutes

[2017-04-13 17:57] dfornika commented on #13
@lfunderburk I've uploaded a photo of myself to the 'website' directory of the private repo.

[2017-04-13 19:48] jasgrewal commented on #13
@lfunderburk @jakelever I had some time to spare over lunch so I've started a new stub of 'who we are' which is not currently directly accessible through the website. We can link it to the real dealio once all the team pics are uploaded to website/team_photos in the private repo. @lfunderburk you can find the current stub page under Secondary Navigation, if you plan to edit/upload the rest :)
@dfo

[2017-04-13 19:57] jasgrewal commented on #13
Hi team, if everyone can update the README with their deets with the following format: [Name](website) / affiliation / [Twitter Handle? Gmail account?](https://twitter.com/ or gmail address)

[2017-04-15 00:25] csiu commented on #9
@jasgrewal What time will hackseq start?

(Oct 20 is a Friday and most people might be at work)

[2017-04-15 00:48] jasgrewal commented on #9
The east atrium reservation (still awaiting official confirmation from LSI but 90% sure until then) starts at 8 am and ends by 6 pm each day. We will start registration at 8 am everyday in keeping with last years format, I imagine. I'm away from my computer until Monday so I cannot go back and check the previous year's schedule until then

[2017-04-28 22:51] jakelever opened #14 "Schedule Next Meeting"
Hey all, it's time to schedule the next meeting. Again the plan would be 6:30pm at the Genome Sciences Centre.

Please fill in this Doodle: http://doodle.com/poll/twgw55ixmrtpmpex

[2017-05-02 23:35] jakelever commented on #14
Hey all, from the Doodle, the next meeting will be next Tuesday (May 9th) at 6:30pm in the Genome Sciences Centre. Sorry @dfornika .

[2017-05-02 23:35] #14 closed

[2017-05-02 23:38] jakelever opened #15 "Agenda for May 9th Meeting"
Hey all, the next meeting for the organising committee will be Tuesday May 9th at the Genome Sciences Centre at 6:30pm. This issue is to add things for discussion.

@lfunderburk , is there anything that should be discussed for the website? Or any other info you need?

And sorry @dfornika that this is scheduled when you can't make it.

[2017-05-02 23:56] jakelever opened #16 "Closer to Hackseq ToDo list"
Hey, I thought I'd start a single issue where we can note ideas of tasks that need to be completed closer to the hackseq event. This way, we can keep our plans organised and don't forget any single task when things get hectic during the summer and fall. These should all be things that we need to deal with in later summer (e.g. August onwards).

To start off with:

- Contact the UBC newspaper (Ubys

[2017-05-04 14:14] lfunderburk commented on #15
Unfortunately I misplaced the login information to the website that Artem had given me. It is possible to ask Artem:

1) URL to editing wesbite
2) Login credentials
3) PDF containing design outline

If privacy is an issue, this information can be sent to my current email address lgutierr@sfu.ca. Previously it had been sent to my bccrc.ca account, but since my username expired on May 1st and I did

[2017-05-04 17:01] jasgrewal commented on #15
Hi @lfunderburk , you can find the login details and the design outline [here](https://github.com/hackseq/hackseq_2017_Private/tree/master/website)

[2017-05-08 05:00] jakelever commented on #15
For the agenda:
- Plan for announcement at VanBUG
- Report on progress of community partners / sponsors hunt

[2017-05-08 21:06] abaghela commented on #15
Hey guys,
Would it be possible to Skype in for tomorrows meeting? I don't think I will be able to make it to UBC/Vancouver tomorrow, sorry.
 Thanks

[2017-05-08 21:29] abaghela commented on #16
I think my friend Nivi is the Science editor at the Ubyssey now! I can talk to her about getting something out about us!

[2017-05-08 22:04] jakelever commented on #15
Let's try using the phone in the conference room instead of my laptop this time. I think the sound will work better. @abaghela Want to send me an email with your cell number and we'll call you at the beginning of the meeting?

[2017-05-09 23:08] jakelever commented on #15
Another item for the agenda
- Collaboration with the Student Biotechnology Network (thesbn.ca), possible social and announcement/info at the SBN/Genome BC research day (http://thesbn.ca/Events/2016-17/poster-competition-2017)

[2017-05-10 01:00] jakelever commented on #15
- Clarify who is contacting SCWIST. @dfornika has contact details. Was @abaghela also going to be making contact? It'd be good to get them officially as "Community Partners"

[2017-05-10 03:13] jakelever commented on #15
Minutes are posted: https://github.com/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-05-09_committee_minutes.md

[2017-05-10 03:55] jasgrewal opened #17 "Website updates"
Thread to track any updates that need to be made to the website

[2017-05-10 03:56] jasgrewal commented on #17
@lchong @csiu @abaghela Please take a look at the participation links and landing page [here](https://hackseq-collective.squarespace.com) and let me know if anything needs tinkering! The participants go to a separate excel sheet in the google drive, and the team lead signups go to a separate one.

[2017-05-10 03:59] jasgrewal commented on #17
For team leads - Submission button links to the Google Form
For participants - Google Form built separate, has website form. I say in the website form that we will get in touch with them closer to October once we have our project ideas lined up.

[2017-05-10 20:25] abaghela commented on #17
I think it looks great @jasgrewal I can tweet about it!

[2017-05-10 20:27] jasgrewal commented on #17
Great! Also, posted the wrong link earlier, the correct public facing side will be www.hackseq.com @abaghela

[2017-05-10 20:59] jakelever opened #18 "Extra Social Media"
Hey @abaghela  , I was just perusing the reddit [/r/bioinformatics](https://www.reddit.com/r/bioinformatics/) subreddit and thought there were a few other places we could advertise for team-leader recruitment and general hackseq awareness. Do we have a reddit account for this?

And how about the [Biostars forum](https://www.biostars.org/t/Forum/) or perhaps somewhere else on Biostars? Maybe [seqan

[2017-05-11 03:43] abaghela commented on #18
Yes, I think we do have a reddit account. I will try to advertise at these places now!

[2017-05-15 18:52] jakelever opened #19 "Recruit through Community Partners"
Hey @csiu and @lchong , we could coordinate and get some of our community partners to send out emails about hackseq and recruit for team leads / participants. Is that a good idea?

What would you like to be sent out (for those with a mailing list: Software Carpentry, GrasPods) or link shared (for those who only use Twitter: NCBI, VanBug)?

[2017-05-15 18:53] #15 closed

[2017-05-16 01:02] jakelever commented on #19
Also @ababaian just emailed me and suggested he could advertise in the Terry Fox Lab & CRC. Could you give him some text to send out?

[2017-05-17 02:51] csiu commented on #13
@jasgrewal I've uploaded my picture

[2017-05-21 22:45] jakelever commented on #19
Hey @csiu and @lchong , do you guys have an email that I could get sent out? And is the deadline of May 31st still in place?

[2017-05-22 07:09] jakelever opened #20 "Schedule June Meeting"
Hey all, it's time to schedule the next meeting of the Organising Committee. I would suggest 6:30PM at the Genome Sciences Centre (570 W 7th Ave). Would anyone prefer somewhere else or a different time?

To get the ball rolling, here is the Doodle for the first two full weeks in June: http://doodle.com/poll/iwgs9e3v5xzpntwz

[2017-05-22 16:43] lchong commented on #19
Celia says that since the May 30 deadline is so soon, it may not be worth it to extend the invite to community partners yet. She wants to see who applies by the May 30 deadline, and then if we extend the deadline (which we likely will) we can include community partners etc.

[2017-05-24 00:49] jakelever commented on #19
Cool. Keep me and @ababaian in the loop if you want emails sent out.

[2017-05-31 22:24] jakelever commented on #20
Hey, the Doodle currently says June 13th or 14th. @dfornika , unless you've got a conflict, I'm just going to say June 13th.

[2017-06-12 18:56] #20 closed

[2017-06-12 18:59] jakelever opened #21 "Agenda for June 13th meeting"
Hey all, here's the ticket for agenda items for the Hackseq meeting tomorrow. Again, it will be hosted at 6:30pm (June 13th) at the Genome Sciences Centre.

- Confirm sponsorship levels (Github & ECOSCOPE)
- Update on sponsorship
- Discussion on proposed projects and next steps

[2017-06-28 03:54] lchong commented on #11
Of the 10 applications, only 3 specified HPC requirements.

Machine requests: 6 m4.large (2 CPU/8Gb RAM), 2 m4.large, none
Hard drive sizes per machine (Gb): 50, 5, 10
Data sizes (Gb): 10, 5, 1

Since the m4.large is the smallest machine and one team requested 6, I'm going to request larger machines so that each team can theoretically share a single instance. The smallest machine that meets at lea

[2017-07-01 22:00] lchong commented on #11
Submitted the application on June 29:

[2017-07-05 20:07] jakelever commented on #21
@jasgrewal I have this vague memory that you had taken minutes for this but I could be completely mistaken. Is that the case? Or should I write up what I've got?

[2017-07-05 20:12] jakelever opened #22 "Organise July Meeting"
Hey all, apologies that this is very late. I'm still in Scotland and won't be back for a few weeks. Jasleen is also away. So at the moment, a new venue may need to be found.

So we'll stick to 6:30pm after work, but a venue is undecided. Any suggestions?

And the Doodle: https://doodle.com/poll/4bvak54n9s2bpfhr

[2017-07-05 20:36] abaghela commented on #22
Any coffee shop on Broadway is fine with me.

[2017-07-10 11:22] jakelever commented on #22
Hey @lchong and @csiu , just a poke to fill out the Doodle.

[2017-07-12 11:41] jakelever commented on #22
Hey, the Doodle has spoken. The meeting will be on July 20th at 6:30pm. I will be back then so we could host it in the GSC again. Sorry @csiu, any chance you can make it?

[2017-07-12 11:42] jakelever opened #23 "Agenda for July 20th meeting"
Hey all, here's the ticket for agenda items for the July meeting. Please add things!

[2017-07-13 02:05] lchong commented on #23
Shoot guys I screwed up, I can't make it on July 20th. I think based on the results the maximum number of us available is 4 so maybe we should just keep this date? My only updates are about the AWS application, and just that it's been submitted.

[2017-07-14 00:30] lchong commented on #23
Oops nevermind -- I'll be free after all on July 20th!

[2017-07-17 21:51] csiu commented on #22
I'll try to make it

---
*Celia Siu*
MSc Computational Biology | UBC
LinkedIn: https://www.linkedin.com/in/celiasiu
Blog: http://csiu.github.io/blog/

On Wed, Jul 12, 2017 at 4:41 AM, Jake Lever <notifications@github.com>
wrote:

[2017-07-20 17:22] lchong commented on #23
For those who are in town, have we decided on a meeting location? We can probably do it at the CRC, I can let people in if they text me: (416) 527-3989
@dfornika @csiu @abaghela

[2017-07-20 17:40] abaghela commented on #23
Hey guys,

I have this GSS meeting that I might need to attend. Sorry I kind of forgot it was this week. Since Jasleen, Jake, maybe me, and maybe celia are not attending, can we just chat over Whatsapp? Or slack? And fill each other in on what we are doing?

Arjun

[2017-07-21 00:07] lchong commented on #23
Sorry for the spam but I just realized Jake mentioned in the other ticket that he's back now, and we can have the meeting at the GSC as usual. It seems like there may only be 3 of us (Jake, Dan and I) -- do we want to still meet in person or take Arjun's suggestion and just chat online? If we don't hear anything, Dan and I will show up at the GSC at 6:30pm tonight.

[2017-07-21 00:41] jakelever commented on #23
Hey, I am back so the plan was still the GSC

[2017-07-21 02:25] #22 closed

[2017-07-21 02:26] jakelever commented on #23
The [minutes are up](https://github.com/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-07-20_committee_minutes.md)

[2017-07-21 02:26] #23 closed

[2017-07-21 02:31] jakelever opened #24 "Organise August meeting"
Hey all, thought I'd get a head-start on this. The Doodle link is below and it would again be 6:30pm in the Smith Room of the Genome Sciences Centre. I did dates from the second and third week of August.

https://doodle.com/poll/k3yfcctunatzs558

[2017-07-21 08:55] jasgrewal commented on #22
Oh damn guys I totally mixed up the time zones. So sorry to have missed this! No major updates from my end though. I'll see you all in August <3

[2017-07-21 20:55] lchong opened #25 "Ideas for hackseq 2017 sticker design"
Artem (@ababaian) has very kindly offered to design this year's event stickers for us!

His theme will be famous band logos, so if anyone has an ideas for him please let him know in this thread.

Thanks Artem!

[2017-07-21 20:56] lchong commented on #25
@dfornika @jakelever @jasgrewal @abaghela @csiu

[2017-07-24 17:26] dfornika commented on #25
How about

[code]

[2017-07-25 04:29] csiu commented on #25
Where did "run" come from? :smile:

[2017-07-25 05:12] jakelever commented on #25
![Run DMC](https://upload.wikimedia.org/wikipedia/fi/thumb/4/4c/Runlogo.png/240px-Runlogo.png)

[2017-07-25 07:53] ababaian commented on #25
So while not totally obvious, the hackseq logo is an homage to Black Flag, so to keep up the theme I'll make a few sticker designs and maybe we can print 2-3 of them as little tokens' for participants. It's a little thing and it costs about $80 for the sets of stickers.

I can do RUN DMC @dfornika.

So far I have Daft Punk drafted up, I can make it a bit nicer.

![Daft Punk](https://github.com/hac

[2017-08-01 23:24] jakelever commented on #24
Hey. Just a poke to remaining people. Please fill out the Doodle.

[2017-08-09 23:55] jakelever commented on #24
Cool, it looks like Monday (August 14th) is the choice. See you then at 6:30pm at the GSC as usual

[2017-08-09 23:55] #24 closed

[2017-08-09 23:56] jakelever opened #26 "Agenda for August 14th meeting"
Hey all, the next meeting will be on Monday August 14th at 6:30pm at the Genome Sciences Centre. This issue is for agenda items for the meeting.

[2017-08-14 23:20] jakelever commented on #26
A few agenda items

- Update on sponsorship
- I will be away in DC
- Update on Google contact

[2017-08-15 00:50] jasgrewal commented on #26
I'll be giving an update on the participant form at the website, and the update on the internet at UBC as I don't think I've updated everyone in the team on that yet.

[2017-08-15 01:07] jakelever commented on #26
Also

- NumFocus sponsorship
- Code of Conduct

[2017-08-15 18:06] jasgrewal commented on #9
The east atrium has been confirmed. I have the confirmation and will upload it to the Drive for reference.

[2017-08-15 18:06] #9 closed

[2017-08-15 18:06] jasgrewal opened #27 "Arrange Campus Security"
We will need to arrange campus security for the event. I'll be overseeing this.

[2017-08-15 18:07] jasgrewal commented on #21
Oops missed this as I was on the road @jakelever . I can add these later today.

[2017-08-15 18:32] jakelever commented on #9
Yay, we have a home!

[2017-08-15 18:54] jakelever commented on #26
Hey all, I've typed up the [minutes](https://github.com/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-08-14_committee_minutes.md).

@jasgrewal , @dfornika , @lchong , @abaghela There are a lot of action items (i.e. things that people have agreed to do). Please check to see what I noted done and update the minutes if you think I missed anything.

[2017-08-15 18:54] #26 closed

[2017-08-15 19:33] jakelever opened #28 "URGENT: Add Git lesson question to participant recruitment"
Hey @jasgrewal ,

Could we add the following question to the participant recruitment before too many people sign up?

"Would you be interested in a short tutorial on using Git and Github on the evening of October 19th on campus at UBC? That's the night before hackseq starts. You'd get to meet other participants and get comfortable with Git and learn from an amazing Software Carpentry instructor."

[2017-08-15 19:43] jasgrewal commented on #28
In a meeting atm, I'll fix this in half an hour

Sent from my mobile device. Please excuse typos.

On Aug 15, 2017 12:34, "Jake Lever" <notifications@github.com> wrote:

[2017-08-15 20:53] jasgrewal commented on #28
done

[2017-08-15 20:53] #28 closed

[2017-08-15 20:54] jakelever commented on #28
Nice one

[2017-08-25 20:52] lchong commented on #11
Some notes about meeting with the GSC ORCA team (Aug 25, 2017):
- Two ORCA machines will be used this year (orca01 and orca02), each has ~128Gb RAM
- **I need to partition the teams into two groups, and each will be assigned to one of the computers**
- **I'll email the team leaders next week and tell them to start thinking about what software they need, and also point them to the list of existing

[2017-08-25 20:59] sjackman commented on #11
@tmozgach Can you please point Lauren (@lchong) to the list of software installed on ORCA?

[2017-08-25 21:53] jakelever opened #29 "Schedule September Meeting"
Hey all, here's the Doodle for the September meeting. It would again be 6:30pm in the Genome Sciences Centre (570 W 7th). I definitely won't be there (and won't be back in Vancouver until late September). So it'd be up to Jasleen to make sure that you can get into the building. Or you could hold it somewhere else if preferred. Anyway, the Doodle awaits:

https://doodle.com/poll/66v97ce5igau7kga

[2017-08-25 23:58] jasgrewal commented on #29
Yep, we can have it at the GSC. Thanks for setting up the poll, Jake!

[2017-08-28 20:33] tmozgach commented on #11
@lchong here is the current list of software: https://github.com/bcgsc/orca/blob/master/versions.tsv

[2017-08-31 19:13] jasgrewal commented on #29
Nudging @lfunderburk @abaghela @dfornika for the doodle :P

[2017-09-04 23:52] jasgrewal commented on #29
Looks like majority vote is for September 12th, Tuesday. See you all then! Cheers :)

[2017-09-05 14:16] jakelever commented on #29
Excellent. I'll make the agenda issue

[2017-09-05 14:16] #29 closed

[2017-09-05 14:40] jakelever opened #30 "Agenda for September 12th meeting"
This is the agenda issue for the Tuesday September 12th meeting (6:30pm at the GSC). Contact Jasleen to get access to the building.

[2017-09-11 13:20] jakelever commented on #30
Hey, I won't be making this meeting. So here's an update from me:

- Sponsorship
   - Lunch sponsorship (for first lunch) from Chipotle is confirmed
   - Otherwise no new sponsorships since last meeting
   - Some potential food sponsors (e.g. Safeways) suggests getting in contact directly with store managers. Would anyone be willing to do this? This kinda requires actually being in Vancouver
   -

[2017-09-12 02:45] jasgrewal commented on #30
Thanks @jakelever. Also, it seems like @abaghela cannot make it tomorrow either. Can @csiu @dfornika and @lchong  please confirm they'll be around? We will primarily need to brainstorm the virtual participation business, I'll hack together a formal agenda prior to the meeting tomorrow.

[2017-09-12 19:19] lchong commented on #30
I'll be there! I'll give an update on the technical resources for the event.

[2017-09-12 21:55] dfornika commented on #30
I can be there.

[2017-09-12 22:14] jakelever commented on #30
Hey, two more things:
- We just this minute got funding from the AMS Student Initiative Fund. Yay! That's for $500. I think we claim the money back through receipts after the event but will confirm.
- We should probably send someone to VanBUG (Sept 21st) as a last minute advertisement for hackseq participant recruitment. Is anyone willing to do that? (I would be won't be back until the 28th).

[2017-09-13 00:16] jasgrewal commented on #30
Meeting Agenda | Tuesday, September 12th, 2017 | Genome Sciences Centre, 6:30 PM
_Attending: Jasleen, Lauren, Celia, Dan
Regrets: Jake, Arjun_

**UPDATES**
_Update from Jake_
- Confirmed AMS Student Initiative Fund ($500, claimable after the event? TBC)
- Confirmed Chipotle sponsorship for 1 lunch
- Community partners have been alerted to notify participant recruitment

_Update from Dan_

_Update

[2017-09-13 03:07] jasgrewal commented on #30
Meeting minutes are [up](https://github.com/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-09-12_committee_minutes.md). Please look at the different TO-DOs for followups from each person, comment here if any questions/replies!

[2017-09-13 03:10] jasgrewal opened #31 "Agenda for September 26th meeting"
The aim of this meeting is to review participants, assign them, and have notifications for assignment sent out to them by the end of the week (September 29th). Dan, Lauren, and Jasleen have already confirmed attendance. @abaghela and @csiu please rsvp. @jakelever assuming you'll still be rolling with the bigwigs around then.
6:30pm at the GSC, contact Jasleen for building access.

[2017-09-13 03:23] jasgrewal commented on #30
Specific action items summarized for ease:
- Need to set up a Facebook event page for promotion and recruitment @abaghela
- Do we have a prepared slide to use for the shoutout at Vanbug @jakelever
- Do we need more participants or are we at a good number @lchong
- Where will the closing social be, and what are the costs @jasgrewal
- What's entailed in following up with store managers for food spon

[2017-09-13 14:50] jakelever commented on #31
Yep, I won't be back in Vancouver until the 29th ish.

[2017-09-13 14:58] jakelever commented on #30
Hey, I'll send round the slide that I used for VanBUG for team leader recruitment. It will only require a minor change. Who is going to speak? Will Hsiao hasn't got back to me about this. So you'd need to contact him again and confirm.

And for food, I think you basically walk into the store and ask to talk to the manager or for his/her contact details. Be ready with a short pitch or drop them an

[2017-09-13 18:46] lchong commented on #30
Some answers to action items (I'll update this comment with more answers later):

-Just counted the desired team sizes in the applications, and the total is ~55 participants, so I think we're on pace for that already (assuming all team leads are okay with some virtual participants)
-Nothing in last year's budget about a cost for using ORCA, but I'll verify at my next meeting with the team

[2017-09-14 00:16] abaghela commented on #31
I will be there

[2017-09-14 00:18] dfornika commented on #31
I'll be there.

[2017-09-15 18:17] ababaian commented on #25
OK gang, I've got 4 ideas so far. I've expanded to Album Covers as well, so if you can think of an iconic album cover which would look cool 'retooled' for biology let me know and I'll try my hand at it.

**Daft Punk**
![Daft Punk](https://raw.githubusercontent.com/hackseq/hackseq_2017/master/organization/stickers/hs17_daft_punk_draft.png)

**Macintosh Plus**
![Macintosh Plus](https://github.com/ha

[2017-09-15 20:17] jasgrewal commented on #25
I really like the daft punk and the Joy Division ones! Super neat.

[2017-09-15 21:19] abaghela commented on #30
OK facebook page done. I will do a project highlight thing in the next couple days. My facebook network/usage is next to non-existent, so please like the page. hackseq needs Instagram and snapchat :P

[2017-09-17 00:58] csiu commented on #31
Adding date to calendar ... I'll be there

[2017-09-19 14:20] jakelever commented on #30
Hey, just checking. Has anyone managed to get in contact with Will Hsiao (or other VanBug people) to confirm whether we can talk on Thursday?

[2017-09-19 16:19] dfornika commented on #30
I'll talk to him today.

[2017-09-19 22:30] dfornika commented on #30
I got confirmation that we can do a brief announcement on Thursday.

I was planning on going to VanBUG anyways so I'm available to do the announcement.

[2017-09-19 22:54] lchong opened #32 "slack channel"
Hi @sjackman,

I understand that we had a slack channel set up for last year's hackseq. Can you give me the info about what email it's attached to? I'm wondering if we can use the same channel for this year's event.

Thanks!

[2017-09-19 23:05] sjackman commented on #32
The Slack channel is https://hackseq.slack.com
I've invited you. Once you're in, I'll make you an admin.

[2017-09-19 23:07] sjackman commented on #32
Last year we had the trouble that if you invite too many people all at once, and not enough of those people accept the invitation, so that you have a bunch of outstanding invites, you get throttled, and you won't be able to invite any more people. That's just to say invite the participants to Slack early enough that if this happens again, you have time to sort it out with Slack support.

[2017-09-19 23:11] lchong commented on #32
Great, thank you!

[2017-09-19 23:20] sjackman commented on #32
You're an owner now!

[2017-09-21 13:27] jakelever commented on #25
I forgot to comment. They're all awesome, but I think the Daft Punk one is my favourite.

[2017-09-22 18:05] ababaian commented on #25
![joy_division](https://user-images.githubusercontent.com/9220907/30758115-ee287d4e-9f85-11e7-9d85-36b894639660.jpg)
And here's the draft for the Joy division version. Probably my favorite, based on ChIP data around NANOG in H1 cells : )

[2017-09-25 18:27] lchong opened #33 "ORCA setup"
@tmozgach @sjackman

Hi all, we can use this issue to centralize the conversation about ORCA software installations prior to the event. Here are the requests from team leaders so far:

# Project 2

See issue for full discussion (https://github.com/hackseq/hackseq_projects_2017/issues/2)

- [x] methpipe

# Project 6

- [x] Bedtools
- [x] BWA
- [x] FastQC
- [x] Graphviz
- [x] ~~Long Ranger~~ license

[2017-09-25 18:48] sjackman commented on #33
@tmozgach Please `brew install graphviz lrsim makefile2graph`
`rstudio-server` has two open issues: https://github.com/Homebrew/homebrew-science/pull/5502 and https://github.com/Homebrew/homebrew-science/pull/6315

[2017-09-27 16:50] lchong commented on #31
@jasgrewal We received one response from the participants we emailed saying that he will be virtual. I think this is probably enough to surmise that all 3 of them will be virtual. So it's probably safe to update that and email the team leads now!

Let me know if you want any help adjusting the participant allocations.

[2017-09-29 22:18] jasgrewal commented on #16
bumping this. Are we discussing this at the next meeting

[2017-09-29 22:21] jasgrewal opened #34 "Agenda for October 5th meeting"
We will aim to outline all the housekeeping stuff, chart out the day-of plans and responsibilities, update on participant signups, tshirt order status, and media outreach.
6:30 PM, Thursday, October 5th, at the GSC.
Dan has sent his regrets.

[2017-09-29 22:21] jasgrewal commented on #31
meeting minutes will be up over the weekend!

[2017-09-29 22:27] jasgrewal commented on #34
Also discuss volunteer recruitment (it appears last year it was either through mailing list or email blast as a call for volunteers, and they were quite useful especially with the food and coffee setup), and having a dedicated event photographer.

[2017-10-02 17:59] BrunoGrandePhD commented on #33
What packages are installed for R? Since installing several R packages on Linux can take a while due to compilation, it would help if a few main ones come pre-installed. I've put together an initial list below, but it might get longer after discussing more specific goals with team members.

## R Packages

- [ ] `tidyverse`
- [ ] `rmarkdown`
- [ ] `DT`
- [ ] `fuzzyjoin`
- [ ] `pander`
- [ ] `doMC`

[2017-10-02 18:43] jasgrewal commented on #31
Meeting minutes [are up](https://github.com/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-09-26_committee_minutes.md)

[2017-10-02 21:24] sjackman commented on #33
There are currently no R packages installed, other than the base packages.
@tmozgach Can you please add these R packages to the ORCA image, and also `ggplot2` and `knitr`? You can install them with
[code]
and Bioconductor, using these instructions: https://www.bioconductor.org/install/
[code]
Thanks!

[2017-10-02 22:14] rdocking commented on #32
Can I get an invite as well? One of my team members has asked about this - I'd prefer to use the group channel.

[2017-10-02 22:17] sjackman commented on #32
Done!

[2017-10-02 22:46] rdocking commented on #32
Thanks Shaun! Could you also invite @hiraksarkar ?

[2017-10-02 22:50] sjackman commented on #32
Done!

[2017-10-03 04:48] morien commented on #33
Will add to the list of R packages to be installed: 'phytools', plus dependencies 'ape' (>= 4.0), and 'maps'

Git, of all things, isn't on the server software list, but I have to assume it's there... (?)

[2017-10-03 05:21] sjackman commented on #33
@morien Only those software installed by either `brew` or `pip` is listed. `git` is installed by `apt-get` and so isn't included in this list.

[2017-10-03 05:21] sjackman commented on #33
@tmozgach Please add `igraph` and `DiagrammeR` to the list of R packages.

[2017-10-03 05:48] morien commented on #33
@sjackman ah okay, well then we can strike "tree" from the list of requests, that would also get installed with the OS package manager, not brew or pip

[2017-10-03 17:41] sjackman commented on #33
The Docker image that we're using is `bcgsc/orca:2017.08.23` which is based on `linuxbrew/linuxbrew:1.2.8` which is based on `ubuntu:trusty`. The next release of ORCA will be based on `linuxbrew/linuxbrew:1.3.*` and `ubuntu:xenial`. Feel free to check it out if you'd like to poke around and see what software is installed, and try out your pipeline prior to Hackseq. Note that the image is 10 GB.

[2017-10-03 21:20] lchong commented on #33
From **Project 8**: "Could we get scikit-learn and pytorch preinstalled on our ORCA machines?"

- [ ] scikit-learn
- [ ] pytorch

[2017-10-03 22:17] sjackman commented on #33
@tmozgach I've added the software listed in the comments above the to the summary of this issue:
https://github.com/hackseq/hackseq_2017/issues/33#issue-260371673
Can you please tick off the boxes that you've installed in the ORCA image?

[2017-10-03 22:20] sjackman commented on #33
@lchong Could you please add Tanya @tmozgach as a collaborator on this repository, so that she can tick off the boxes in the summary of this issue?

[2017-10-05 21:26] jakelever commented on #34
Another topic: the Git tutorial. When and where to host it and who to teach it?

[2017-10-07 00:11] jakelever commented on #34
[Minutes](https://github.com/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-10-05_committee_minutes.md) have been posted

[2017-10-07 00:11] #34 closed

[2017-10-07 00:14] jakelever opened #35 "Second October Meeting"
Hey, at the meeting yesterday, we suggested meeting again on Tuesday (October 10th). It'd be good to get all the organisers there.

@jasgrewal You thought you might be a bit late. Shall we do it at 7pm?

@dfornika and @abaghela can you make Tuesday?

Topics to discuss
- Food
- Volunteer Recruitment
- ORCA
- Hackseq future
- Plans for virtual participants (e.g. encourage videochat?)

[2017-10-07 00:14] #31 closed

[2017-10-07 00:14] #30 closed

[2017-10-09 18:26] jakelever commented on #35
Hey, just pinging everyone. Are people free tomorrow night? Also happy Thanksgiving!

[2017-10-09 18:37] jasgrewal commented on #35
Yessir, I'll be there. Happy Thanksgiving! We can probably keept it at 6:30 as the other meeting is just the first one of many, so a long agenda is highly unlikely :)

[2017-10-09 21:23] dfornika commented on #35
Yes, I'll be there.

[2017-10-10 03:31] abaghela commented on #35
Yeah, I will be there too.

[2017-10-10 17:32] jasgrewal commented on #35
Some additional agenda items based on [this past issue from Hackseq 2016](https://github.com/hackseq/October_2016/issues/54) and this [logistics sheet](https://docs.google.com/spreadsheets/d/1od5J4I_Rbtqx-A4PEJOmDW7EZfqPXumYGg2iiibSv1U/edit#gid=470121124).
- Pizza (Panago gave 20% discount last year....).
- Breakdown of breakfast items and determination of lunch items (with dietary restrictions).

[2017-10-10 22:22] jakelever commented on #35
Cool. See you all at 6:30pm tonight at the GSC.

[2017-10-10 22:41] sjackman commented on #33
@lchong Could you please send me the names and e-mail addresses of the project leads so that we can create ORCA accounts for them?

[2017-10-10 23:08] lchong commented on #33
@sjackman try this link:

https://docs.google.com/spreadsheets/d/1IFDkStUlfCYGfYhpHPN-TYj_OxQ2LfTJ0tMC1gQZH6Y/edit?usp=sharing

[2017-10-10 23:39] sjackman commented on #33
Thanks, Lauren!

[2017-10-11 04:02] jakelever commented on #35
Hey all, the epic [minutes](https://github.com/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-10-10_committee_minutes.md) for this evening are up. Please check your action items and let me know if I've missed anything.

[2017-10-11 04:04] jakelever opened #36 "Third October meeting"
Hey, this is the ticket for the meeting on Monday 16th October. It's at 6:30pm at the Genome Sciences Centre. Please add any agenda items here.

[2017-10-11 21:28] ababaian commented on #25
![daftpunk_large](https://user-images.githubusercontent.com/9220907/31467472-f00b16e0-ae8e-11e7-918d-2868663dce71.png)
![hs17_joyd_final_600_large](https://user-images.githubusercontent.com/9220907/31467474-f3f90a28-ae8e-11e7-8b5c-2fb6cc8aa36e.png)

I've finalized the two sticker designs: Joy Division and Daft Punk. Would you all like to decide which (if any) to go with?

I recommend 2 inch square

[2017-10-12 05:39] jasgrewal commented on #17
Schedule is up at http://www.hackseq.com/schedule
Could everyone please look at it and approve before I make a hard link to it from the landing page? @jakelever @abaghela @dfornika @lchong @csiu
Also, will need the link to the volunteer recruitment form, before 5 PM tomorrow if possible, @lchong @csiu, so I can add it to the VanBUG announcement.

[2017-10-12 06:03] lchong commented on #17
@jasgrewal looks good to me!

Here's the form: https://goo.gl/forms/36X5fLqxYmoXbX4N2

I'll send the emails to the mailing list and Sharon tomorrow.

[2017-10-12 17:03] dfornika commented on #25
They both look awesome. I think we should print up both of them.

[2017-10-12 17:05] abaghela commented on #25
I agree, both look great and should both should be printed. Thanks for the suggestion @ababaian

[2017-10-12 17:30] dfornika commented on #17
Looks great!

[2017-10-12 18:18] lchong commented on #17
@jasgrewal Just noticed that the schedule for the final day has hacking until 16:30 but it should be only until 16:00.

[2017-10-13 05:16] jakelever opened #37 "Participant Email with Schedule, Git workshop, etc"
Hey, just planning out the email to go out announcing the schedule, Git workshop and to bring coffee mugs. The draft is below. We're still figuring out a location for the Git workshop. And are we in the West or East atrium of the LSI? Or do they have names?

@ababaian and @lchong : Want to add anything else about the schedule?
@csiu : Once we get the Git workshop location confirmed, can you email

[2017-10-13 06:31] jakelever commented on #36
From the Closer to Hackseq list: #16 . Do we need to do media release forms to take photos and use on the website for future promotion? Something to figure out

[2017-10-13 16:48] ababaian commented on #37
Is food provided or should people bring?

[2017-10-13 17:16] ababaian commented on #25
Are you guys going to take care of the printing or should I do it?

[2017-10-13 17:39] jakelever commented on #37
Yes, thank you for pointing this out. Breakfast and lunch are included. I will add this to the email

[2017-10-13 17:39] jasgrewal commented on #37
@ababaian food provided oct 20-22 but not for the Git workshop (ah lol nvm I thought it was a separate inquiry)
@jakelever , the LSI East Atrium is booked for Oct 20-22,
Oct 20 - East Atrium - 730am-1030pm
Oct 21 - East Atrium - 730am-1030pm
Oct 22 - East Atrium - 730am-600pm

[2017-10-13 17:54] jakelever commented on #37
Thanks

[2017-10-13 19:43] abaghela commented on #25
I can take care of it @ababaian. Im in contact with Oddball currently. Thanks for the designs and suggestion!

[2017-10-13 20:56] jakelever commented on #37
Hey @csiu @abaghela @lchong @dfornika @jasgrewal , this email looks okay to me. Anything else we should add before sending it out?

[2017-10-13 20:59] lchong commented on #37
@jakelever Looks great!

[2017-10-14 01:02] dfornika commented on #37
Looks awesome to me.

[2017-10-14 01:59] ababaian commented on #37
One more thing: Might be worth emailing the Ubyssey Science Editor: science@ubyssey.ca

They could send a reporter to come during the hackathon and interview you guys for a student story : )

[2017-10-14 04:59] jakelever commented on #37
@ababaian Agreed, @abaghela is friends with her so will be making sure that happens

@jasgrewal Shall I add an extra point to the email specifically about the Saturday social?

@csiu What's the easiest way to email this out to all participants and team leads?

[2017-10-14 05:00] jasgrewal commented on #37
Hi @jakelever , um sure. Still sorting out details reg food etc but we have a confirmed reservation for sure! 6 pm onwards.

[2017-10-15 01:03] jakelever commented on #37
Cool, @jasgrewal I've added the social to the email. Look okay? And could you update the schedule so it's on the Saturday?

@csiu Can you send this email out to all team leads and participants? Remember the new additions

[2017-10-16 06:20] csiu commented on #37
Done. I sent 3 sets of emails:

1. In-person participants (44) - message as is
2. Virtual Participants (23) - did not mention items 3 & 4 i.e. didn't mention the food or social
3. Team leads (9)

@jakelever - The easiest way to message all participants is to BCC everyone. The mailing list I used is in the `2017 Assignments` aka `csiu's mailing list` (a new sheet that I compiled) 😓

[2017-10-16 06:20] #37 closed

[2017-10-16 17:06] jakelever commented on #37
Great!

[2017-10-16 20:37] tmozgach opened #38 "Instruction for Running GUI application"
@lchong, Hello Lauren, here there is everything for participants in order to set up the laptops.
https://uisapp2.iu.edu/confluence-prd/pages/viewpage.action?pageId=280461906

[2017-10-16 21:40] jakelever commented on #36
- Should all the organisers get ORCA accounts so we can provide technical help (if we can be useful)?
- Any word from Amazon?

[2017-10-17 00:52] lchong commented on #36
- Any new participants since last week?
- Details that haven't been passed to the team leads yet?

[2017-10-17 03:48] jakelever commented on #36
The [minutes](https://github.com/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-10-16_committee_minutes.md) are up

[2017-10-17 16:22] lchong commented on #38
Thank you! I'll send this around to the team leads.

[2017-10-17 16:44] lchong opened #39 "Volunteers for 2017"
@lfunderburk @viennalam Are you guys interested in helping out this weekend? If so, could you let us know your availability by filling in this form: https://goo.gl/forms/pJxv9dIBtn6pZdVn2

Thanks guys!

[2017-10-17 16:58] lchong commented on #39
@dfornika @jakelever @jasgrewal @abaghela
I'm going to start emailing volunteers back to schedule shifts -- any thoughts about which of the three shifts (morning/lunch/evening) we most need volunteers for?

[2017-10-17 17:31] jasgrewal commented on #39
Morning and evening will probably be the most important, particularly evening I think. Hopefully everyone will be busy coding in the afternoon!

[2017-10-23 23:33] #35 closed

[2017-10-23 23:33] #36 closed

[2017-10-23 23:33] #16 closed

[2017-10-23 23:33] #25 closed

[2017-10-23 23:34] #39 closed

[2017-10-23 23:34] #13 closed

[2017-10-23 23:35] #3 closed

[2017-10-23 23:42] jakelever opened #40 "Wrap-Up Meeting"
Hey hackseq 17 organisers, I think we may need a meeting to wrap up this year's hackseq. When can we meet? It'd be 6:30pm at the GSC again if that works.

Doodle: https://doodle.com/poll/hz6bg6ib8xvuz2yd

Topics for discussion (before I forget them)
- Bring supplies to GSC and let's find a home for them
- Finalise gift cards for winning teams (especially for virtual participants)
- Finishing off f

[2017-10-24 05:00] jasgrewal commented on #40
- Update on the Ubyssey article (Arjun?)
- Writing a summary for NumFocus (or was it some other sponsor that needed this?)
- Summarize outline for survey response collation, potential short paper draft

[2017-10-25 20:24] jakelever commented on #40
Hey, from the Doodle, looks like November 8th may be the day. We can keep this ticket as the agenda issue for it. We'll have to do a few things remotely beforehand (as that date is a couple weeks away)

[2017-10-31 02:42] jakelever commented on #40
- Sort out details for AMS Student Initiative Fund (bring your receipts or scan them!)

[2017-11-08 02:49] ababaian commented on #40
Hey Organizers,

It looks like Team bioSyntax is on track to have a release and publication ready next month.

One thing we discussed is that we would like to publish to a journal such as Genome Biology, Genome Research or Bioinformatics. I know the original plan was F1000 (thus the word limit) and other journals are quite a bit more expensive but would hackseq be willing to help with publishing c

[2017-11-08 19:55] jakelever commented on #40
@ababaian Awesome. We'll look into it during the meeting tonight

[2017-11-08 19:56] jakelever commented on #40
Hey @dfornika @jasgrewal @csiu @lchong @abaghela , just a reminder of the meeting tonight at the GSC

[2017-11-08 21:21] jakelever commented on #40
Oh and bring receipts for the AMS Student Initiative Fund form

[2017-11-09 17:27] lchong commented on #40
Hey guys I started a new folder on the google drive: Reimbursements/2017
@jakelever I uploaded my scanned receipts there if you want them!

[2017-11-09 17:36] #4 closed

[2017-11-09 17:37] #11 closed

[2017-11-09 17:37] #21 closed

[2017-11-09 17:37] #32 closed

[2017-11-09 17:37] #33 closed

[2017-11-09 17:44] #38 closed

[2017-11-09 18:27] #27 closed

[2017-11-09 18:27] #17 closed

[2017-11-09 20:09] jakelever commented on #40
Hey @ababaian , we explored the other publications options that you had suggested and had a discussion at the meeting last night. The F1000 cost was $150 but we think we could go up to $500 without limiting publication options for other groups. However we would require that your paper be open access. The costs for an Open Access paper are $2975, $5000 and $3000 at Genome Biology, Genome Research a

[2017-11-09 20:49] ababaian commented on #40
Cool. There's a few steps between here and there I have to worry about first.

I'll ask the department for help / out of pocket but the $500 is definitely appreciated.

[2017-11-21 02:00] jakelever commented on #40
Finally wrote up the minutes from this meeting. [Accessible here](https://github.com/hackseq/hackseq_2017/blob/master/organization/meeting_minutes/2017-11-08_committee_minutes.md)

[2017-11-21 02:11] jakelever opened #41 "Hackseq Future Dinner"
Hey current and previous Hackseq organisers, this year's hackseq was a great success. We'd like to meet up and discuss the strengths and weaknesses this year and where we'd like hackseq to go in 2018. If you'd like to participate, please fill out the Doodle link below:

https://doodle.com/poll/hn8ictmpn2utd662

It'd be dinner (around 6:30pm or later if needed). Location to be decided later.

Hope

[2017-11-21 17:58] ababaian opened #42 "Hibernating website"
Hey @jasgrewal,

What are the plans for the website in the near future? I'd like to clean-up the front page to it's minimal stuff (hackseq finish posts) and the menus a little bit to better navigate people.

Do you (all) have plans to make a hackseq17 Summary Page like the [hackseq16](http://www.hackseq.com/hackseq16/) one? I think it would be good to have all the projects / pictures in one place.

[2017-11-21 18:00] jasgrewal commented on #42
Hi @ababaian , yep, I plan to clean it up sometime at the end of this month (we discussed this in the meeting - summary page will be forthcoming sometime in December when we plan to compile the survey results). We will also be consolidating the Hackseq17 projects (+ updates) in a separate page on the website.
@csiu will be able to direct you regarding the photos. Cheers!

[2017-11-29 02:09] jakelever commented on #41
Hey, just a poke to everyone to fill out the Doodle. Will finalise in the next couple days.

[2017-12-01 01:15] jakelever commented on #41
Hey, the Doodle has spoken. Dinner will be next Tuesday (December 5th). Apologies to those who can't make it.

I'll book a table for 6:30pm. It'll be at East is East on Main St (partly because we went there before and partly due to OpenTable). If anyone else would like to join, please let me know and I'll increase the reservation.

[2017-12-05 23:08] jakelever commented on #41
Hey, just a reminder about tonight. See you later!

[2017-12-06 00:57] sjackman commented on #41
I've double-booked myself, and I won't be able to make it. 😬 Sorry!

[2018-01-16 22:56] #41 closed

[2018-01-16 23:03] jakelever opened #43 "Hackseq 18"
Good day all former Hackseq organisers. It's time to look forward to Hackseq 18 (or whatever happens this year). So we should start recruiting organising members for the committee this year and decide whether you want to be part of it this year.

So if you will, please write here if you'd be willing to be an organiser for hackseq 18. I will not be as I should probably finish my PhD.

So shall we m

[2018-01-16 23:19] ababaian commented on #43
I guess I'm a bit more silly then you Jake, I'm going to try to finish my PhD and be an organizer ; )

@alyeffy said she might be interested

[2018-01-16 23:49] sjackman commented on #43
@JustinChu Are you interested in helping to organize Hackseq 2018?

[2018-01-17 02:27] viennalam commented on #43
Hello Jake,

May you please remove me from Hackseq mailing list? Thank you!

Regards,
Vienna

[2018-01-29 18:24] ababaian commented on #43
Bump @hackseq/steering_committee

[2018-02-11 01:49] jakelever commented on #43
We've only got responses from me, @ababaian and @sjackman . We'd need to find quite a few people for organisers this year. Thoughts?

[2018-02-11 04:13] jasgrewal commented on #43
I've posted a recruitment email to the Bioinformatics trainees group at UBC. If someone can draft an email for the Hackseq mailing list, that'll be great. I can subsequently forward it to the SFU Science faculty so we reach some of their departments too.

[2018-02-11 19:58] ababaian commented on #43
I'd say let's delay for a week or two and recruit the next set of people.

- [ ] Reaching out to ECOSCOPE early on this time and asking that program specifically for organizational effort may be a strategically good plan as well.
- [ ] We should to hear back RE: bioSyntax manuscript some time next week. We can then send a hackseq update (publication / conference presentations of past projects), an

[2018-02-28 18:45] ababaian commented on #43
Sorry guys, I was a bit AWOL getting some boring paper pushing done. The manuscript is in review-waiting-hell so forget about it, it's not that important.

@jakelever Do you have a contact person you could email me for ECOSCOPE?

I also posted an issue for hackseq18 to start organizing: [Link](https://github.com/hackseq/hackseq18/issues/1). If you can share this with people you think would be good

[2018-03-05 04:46] jakelever commented on #43
Hey, for the ECOSCOPE contact, @abaghela may be a useful contact. Jasleen and I were talking to Jennifer Bonderoff [bonderof@mail.ubc.ca] who was very supportive.